@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

.area {
    display: grid;
    grid-template-areas:
        "header header header"
        "content content content"
        "contact contact contact"
        "footer footer footer";
}

.header {
    grid-area: header;
}

.grid-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "nav nav nav"  
    "banner banner banner";
}

header{

    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #fff;

}

.container{

    width: 1280px;
    margin: auto;

}

.nav_checkbox{

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px 0px;

}

.logo{
    
    padding-left: 10px;

}

#imgLogo {
    max-width: 10.5em;
    
    
}

.tab-nav{

    outline: none;
    display: none;

}

.label{

    display: none;
    color: white;

}

.burger{

    width: 65px;
    height: 11px;
    background-color: #07ade0;
    margin-top:8px;

}

.content_nav{

    grid-column: 3;
    list-style: none;
    margin: 0;
    padding: 0;

}

.content_nav li{

    display: inline-block;
    padding-right: 15px;
    
    
    

}

.content_nav li a{

    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: #07ade0;
    position: relative;
    
    padding: 3px;

}

.content_nav li a::after{

    content: '';
    display: block;
    height: 2px;
    background-color: #7cc537;
    position: absolute;
    left: 0;
    right: 0;
    transform-origin: right;
    transform: scale(0, 1);
    transition: transform ease-in-out 0.5s;

}

.content_nav li a:hover::after{

    transform: scale(1, 1);

}

.banner{
    grid-area: banner;
    display: flex;
    flex-direction: column;
    
}
.bannerImg {
    max-height: 93vh;
    object-fit: cover;
    display: flex;
    justify-content: center;
}



.textBanner {
    /*
    top: 50%;
    left: 45%;
    font-size: 4em;
    text-allign: center;
    */
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 85vh;
    height: 4vh;
    left: 0%;
    width: 100vw;
    font-size: 1.5vw;
    background-color: #07ade0;
    color: rgb(255, 255, 255);
    z-index: 0;
}


.content {
   
    grid-area: content;
    display: grid;
    grid-template-areas: 
    "institution institution institution"
    "id id id";
}

.institution {
    background-color: yellow;
    grid-area: institution;
    display: grid;
    grid-template-columns: 1fr 600px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    
}

.imgInst {
    margin-left: 15%;
    background-color: rgb(53, 179, 201);
}
.pInst {
    
    font-family: 'Playfair Display', serif;
    font-size: 900;
    padding-right: 50%;
    word-wrap: break-word;
    
    
}

.id {
    background-color: red;
    grid-area: id;
    display: grid;
    height: 50vh;
    grid-template-columns: 200px 200px 200px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

.imgWhoAreWe {
    max-width: 100%;
    border-radius: 300px;
}

.textWhoAreWe {
    margin-top: 10px;
    text-align: center;
}

.contact {
    grid-area: contact;
    display: grid;
    grid-template-areas: 
    "form form"
    "form2 form2"
    "message message";
    justify-content: center;
    margin-bottom: 100px;
}

.form {
    grid-area: form;
    margin-bottom: 20px;
}

.form2 {
    grid-area: form2;
    margin-bottom: 20px;
}

.footer {
    background-color: #07ade0;
    height: 25vh;
    grid-area: footer;
    display: grid;
    grid-template-areas: 
    "form form"
    "form2 form2"
    "message message";
    justify-content: end;
    align-content: center;
}

.form3 {
    grid-area: form;
    margin: 30px 200px 0 0;
}

.form4 {
    grid-area: form2;
    margin: 30px 200px 0 0;
}

.message {
    grid-area: message;
    margin: 30px 200px 0 0;
}

.message button{
    margin-left: 140px;
    padding: 10px 20px;
}

/* formularios:  */
.deniedForm {
  position: relative;
  animation: shake .1s linear;
  animation-iteration-count: 3;
  border: 1px solid red;
  outline: none;
}

@keyframes shake {
  0% {
    left: -5px;
  }
  100% {
    right: -5px;
  }
}

@media screen and (max-width: 1280px){

    .container{

        width: 100%;
        

    }

}

@media screen and (max-width: 770px){
/* ISSO É UMA TENTATIVA DE FAZER COM QUE A BARRINHA FIQUE RESPONSIVA */


    #slogan {
        margin: 5px auto;
        text-align: center;
        width: 70%;
        font-size: 4vw;
    }
    .textBanner {
        height: 11vw;
        bottom: 79.5vh;
    }



    .label{

        display: grid;
        cursor: pointer;
        grid-column: 3;
        padding-right: 10px;

    }

    .content_nav{

        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1/4;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.6s;

    }

    .nav_checkbox input:checked ~ .content_nav{

        max-height: 900px;
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        font-size: 40px;
        margin-top: 30px;
        margin-bottom: 30px;
        

    }

    .content_nav li{

        padding: 15px 0px;
        margin-top: 15px;
        border-bottom: 1px solid #07ade0;

    }


}


.stickyBanner {
    position: fixed !important;
    top: 94%;
    border: 5px solid red;
}