.content {
  display: grid;
  grid-area: content;
  background-color: #f5f5f5;
  padding: 20px;
  margin: 20px;
}
.instituition_call {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.instituition_call h1 {
  font-size: 48px;
  font-weight: bold;
  color: #07ade0;
  position: relative;
  text-transform: capitalize;
}
.instituition_call h1:after {
  display: block;
  content: "";
  width: 100px;
  height: 5px;
  background-color: #07ade0;
  margin: 19px auto 0;
}

.instituition {
  background-color: lightcoral;
  border: 1px solid red;
}
.instituition_call {
  background-color: lightblue;
  border: 1px solid blue;
}
.instituiton_content {
  background-color: lightgreen;
  border: 1px solid green;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.instituition_text_container {
  background-color: lightgray;
  border: 1px solid gray;
  text-align: center;
}
.instituiton_content h3 {
  text-align: center;
}
.social_medias {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightyellow;
  border: 1px solid yellow;
}
.main_team_cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.team_card {
  padding: 0 15px;
}
.team_card h3 {
  text-align: center;
  color: #07ade0;
  padding: 10px;
}
.team_card ul {
  list-style: none;
}
.team_card ul span {
  font-weight: bold;
  color: #07ade0;
}
/* .content img {
  width: 100%;
  object-fit: contain;
} */