.deniedForm {
  animation: shake .1s linear;
  animation-iteration-count: 3;
  border: 2px solid red !important;
  outline: none;
}

@keyframes shake {
  0% {
    left: -5px;
  }
  100% {
    right: -5px;
  }
}

.contact_section{
   grid-area: contact;
    display: grid;
  width: 100%;
  padding: 0px 0px;
  padding-bottom: 90px;
  color: #07ade0;
  background-color: #efefef;
  padding-top: 90px;
  justify-content: center;
  
}

.contact_container{
  max-width: 800px;
  margin: 0;
  
  
  
}

.greate_services_section_heading{
display: flex;
width: 100%;
align-items: center;
justify-content: center;
margin-bottom: 60px;
}
.greate_services_section_heading h1{
  font-size: 48px;
  font-weight: bold;
  color: #07ade0;
  position: relative;
  text-transform: capitalize;
}
.greate_services_section_heading h1:after {
  display: block;
  content: '';
  width: 100px;
  height: 5px;
  background-color: #07ade0;
  margin: 19px auto 0;
}

.contact_section .contact_section_heading{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
  flex-direction: column;

}
.contact_section .contact_section_heading h1{
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  color: #07ade0;
  margin: 10px;
}
.contact_section .contact_section_heading p{
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  color: #07ade0;
  margin: 0px;
}
.contact_section .contact_section_heading p a{
  color: #c61022;
  font-weight: 700;
  text-decoration: underline;
}
.contact_section form{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px 20px;
}
.option_form_fields{
width: 100%;
padding-bottom: 20px;
}
.data_form_fields{
  display: flex;
  justify-content: space-between;
  gap: 20px 20px;

}
.data_form_fields input{

  background-color: #fff;
  width: 100%;
  color: #07ade0;
  font-size: 16px;
  padding: 20px;
  border:none ;
  
}
.data_form_fields input::placeholder{
  font-size: 16px;
  color: #07ade0 !important;
  text-transform: capitalize;
  /* opacity: 1; */
}
.hoverzin:hover {
  background-color: #fff;
  border-radius: 10px;
  
}
.message_form_fields{
  width: 100%;
  display: flex;
  }
  .message_form_fields textarea{

  background-color: #fff;
  width: 100%;
  color: #07ade0;
  font-size: 14px;
  padding: 20px;
  border:none ;
  
  }
#tipo-de-atendimento, #profissional {
  border: 1px solid transparent;
  color: #07ade0;
  
}
iframe {
  border-width: 0;
  width: 100%;
  height: 500px;
  
  
  
}
.aqui {
  text-decoration: none;
  background-color: green;
  color: #fff;
  border-radius: 10px;
  padding: 2px;
}
.aqui:hover {
  background-color: #07ade0; 
}
/*iframe{
   filter: invert(.9) saturate(0.5) hue-rotate(245deg);   // MUDAR A COR DO GOOGLE CALENDAR
}*/


    .form_submit_btn{
      display: flex;
     justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 25px;
    }
    .form_submit_btn button{
      display: inline-block;
      font-size: 18px;

      color: #fff;
      background-color: #07ade0;
      border-radius: 6px;
      line-height: 60px;
      height: 60px;
      width: 180px;
      font-weight: 600;
      text-align: center;
      transition: all .5s;
      cursor: pointer;
      position: relative;
      z-index: 1;
      text-transform: capitalize;
      border: none;
    }
   .form_submit_btn button:hover {
     background-color: #37c35a;
   }


@media(max-width: 900px) {
  .contact_container {
    margin: 0;
  }
  .data_form_fields {
    flex-direction: column !important;
  }
}

@media(max-width: 767px) {
.data_form_fields {
  flex-direction: column;
  }
.data_form_fields input {
  width: unset;
  }
.contact_container {
  margin: 0;
  }
  .greate_services_section_heading h1 {
    font-size: 28px;
  }
  .greate_services_section_heading h1:after {
    width: 60px;
  }
}

@media(max-width: 610px) {

.contact_container {
  max-width: 400px;
  margin: 0 auto;
}

}

@media(max-width:450px) {
  
  .contact_container {
    max-width: 370px;
    margin: 0 auto;
  }
}

@media(max-width:390px) {
  
.contact_container {
  max-width: 280px;
  margin: 0 auto;
}

}




