.footer { 
  background-color: var(--primary-color);
  height: 90px;
  padding: 20px;
  
}

.footerList {
  list-style: none;
  display: flex;
  justify-content: space-between;
  
  
}

.footerListItem a {
  text-decoration: none;
  color: #fff;
}

@media(max-width: 1155px) {
  .footer {
    height: 200px;
  }
  .footerList {
    flex-direction: column;
  }
}


