@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    
}


.area {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "contact"
    "footer";
  grid-template-columns: 1fr; /* define uma coluna de largura 1 fração de espaço livre */
  grid-template-rows: auto auto auto auto; /* define 4 linhas de altura automática */
}
